@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #635fc7;
  --primary-hover: #a8a4ff;
  --black: #000112;
  --input: #e0e3e8;
  --very-dark-grey: #20212c;
  --dark-grey: #2b2c37;
  --lines-dark: #3e3f4e;
  --medium-grey: #828fa3;
  --lines-light: #e4ebfa;
  --light-grey: #f4f7fd;
  --error: #ea5555;
  --error-hover: #ff9898;
  --secondary: #efeff9;
  --secondary-hover: #d8d7f1;
  --font-size-medium: 13px;
}

@media (prefers-color-scheme: dark) {
  /* :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  } */
}
body {
  /* color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif; */
}

select option:hover {
  background-color: transparent !important;
}
